.contentt {
    margin: 3rem;
}
.img-decor {
    width: 3.5rem;
    height: 3.5rem;
    /* object-fit: contain; */
    
    border-radius: 0.5rem;
}

.hero-image {
    min-height: 300px;
  }


.mainTitle {
    font-size: 3.5rem;
}

.feature-item i, .icon-box i {
    color: #0a4db8;
}


/***************************************************/

.info-cards {
    margin: 3rem;
}

.info-card {
    padding: 20px 15px;
    height: 100%;
}

.info-cards .info-card h3 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #2d465e;
}
